

body {
	background-color: #f2f3f4;
	color: #161412;
	min-height:700px;
	min-width:1245px;
	overflow:scroll;
}

/*.slide {
	height: 100vh;
	width: 100vw;
	background-color: #f2f3f4;
}
*/
.container {
	height: 800px;
	width: 1016px;
	margin: auto;
}

.block {
	height: 100%;
	width: 100%;
	position: relative;
}

.center {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#address {
	text-align: center;
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -85%);
}

.address-line {
	font-size:clamp(1.5vh, 2vh, 14px);
	line-height: clamp(2vh, 2.5vh, 20px);;
	display: block;
}

.section-title {
	padding-top: 5% !important;
	font-size:clamp(2.5vh, 3vh, 18px);
} 

.title {
	font-family: 'Rokkitt', serif;
	font-size:clamp(6vh, 7.5vh, 55px);
}

.subtitle {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -55%);
	margin-top: 5%;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size:clamp(3vh, 3.5vh, 25px);
}

.name {
	font-family: 'Montserrat', sans-serif;
	font-size:clamp(5vh, 7vh, 50px);
}

.image {
	height: 90%;
	max-height: 90%;
} 

.video-title {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size:clamp(1.5vh, 2vh, 14px);
}

.video-player {
	width: 100%;
}

.ui.divider {
	background-color: #0D0828;
	height: 2px;
	width: 1016px;
	margin-left: auto;
	margin-right: auto;
}

.ui.grid {
	position: absolute;
	top: calc(45% - 40px);
	transform: translate(0%, -150%);
	margin: 0;
	height: 7.5vh;
}

.ui.grid .column {
    padding: 0 !important;
}

.ui.segment {
    background-color:#f2f3f4;
    border: none;
    box-shadow: none;
}


