

body {
	background-color: #f2f3f4;
	color: #161412;
	min-height:700px;
	min-width:1245px;
	overflow:scroll;
}

.container {
	height: 800px;
	width: 1016px;
	margin: auto;
}

.block {
	height: 100%;
	width: 100%;
	position: relative;
}

.center {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#address {
	text-align: center;
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -85%);
}

.address-line {
	font-size:clamp(14px, min(2vh, 2vw), 21px);
	line-height: clamp(2vh, 2.5vh, 20px);;
	display: block;
}

.section-title {
	padding-top: 5% !important;
	font-size:clamp(22px, min(3vh, 3vw), 28px);
} 

.title {
	font-family: 'Rokkitt', serif;
	font-size:clamp(55px, min(7.5vh, 6.5vw), 61px);
}

.subtitle {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -55%);
	margin-top: 5%;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size:clamp(25px, min(3.5vh, 3vw), 31px);
}

.name {
	font-family: 'Montserrat', sans-serif;
	font-size:clamp(45px, min(7vh, 5vw), 51px);
}

.overlay-image {
	position: relative;
  	height: 90%;
	max-height: 90%;
	cursor: pointer;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
} 

.overlay-image .image {
	height: 100%;
	width: 100%;
	display: block;
	
}

.overlay-image .hover {
	-webkit-backdrop-filter: blur(3px);
	position: absolute;
	top: 0;
	backdrop-filter: blur(3px);
	z-index: 80;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease-out;
}

.overlay-image:hover .hover {
  opacity: 1;
}

.overlay-image .overlay-text {
	display: block;
	color: #161412;
	mix-blend-mode: difference;
	font-size: 40px;
	text-shadow: 2px 2px 2px #fff;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
} 

.video-title {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size:clamp(14px, min(2vh, 2vw), 18px);
}

.video-player {
	width: 100%;
	height: min(250px, min(25vh, 20vw));
	min-height: 250px;
}

.video-page-player {
	width: 80%;
	height: 80%;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
}

.gif {
	height: min(250px, min(25vh, 20vw));
	min-height: 250px;
} 

.ui.divider {
	background-color: #0D0828;
	height: 2px;
	width: 1016px;
	margin-left: auto;
	margin-right: auto;
}

.ui.grid {
	position: absolute;
	top: 20%;
	transform: translate(0%, -20%);
	margin: 0;
	height: max(7.5vh, 7vw);
}

.ui.grid .column {
    padding: 0 !important;
}

.ui.segment {
    background-color:#f2f3f4;
    border: none;
    box-shadow: none;
}


#pdf-button{
	position: fixed;
	bottom: 5vh;
	right: 5vh;
	background-color: #EC1A2B;
	max-height: 8vh;
	max-width: 8vh;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	border: none;
	z-index: 10;
}

#pdf-icon:hover {
	cursor: pointer;
}

#pdf-icon {
	max-height: 100%;
	max-width: 100%;
	padding-top: 3%;
	padding-bottom: 3%;
	z-index: 100;
	filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(1603%) hue-rotate(176deg) brightness(96%) contrast(99%);
}

.nav-bar {
	position: fixed;
	left: 3vh;
	top: 3vh;
	width: 3%;
} 

.nav-bar-button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 10%;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: none;
	background-color: #16141266;
	z-index: 10;
}


/*.nav-bar-button:hover {
	cursor: pointer;
	height: 40px;
	width: 40px;
	background-color: #EC1A2B;
	transition: .5s ease;
}*/

